<div class="w3-container">
  <h2>Sidebar Navigation Example</h2>
  <p>The sidebar with is set with "style="width:25%".</p>
  <p>The left margin of the page content is set to the same value.</p>
</div>
