<div class="w3-container">
  <table class="w3-table w3-responsive">
    <tr>
      <th><input class="w3-input" type="text" placeholder="Vorname" id="myInput"></th>
      <th><input class="w3-input" type="text" placeholder="Nachname" id="myInput"></th>
      <th><input class="w3-input" type="text" placeholder="Alter" id="myInput"></th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
    </tr>
  </table>
  </table>
</div>
