<!doctype html>
<html>
<title>My Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" src="/js/script.js"></script>
<body>

<div class="w3-sidebar w3-light-grey w3-collapse w3-bar-block" style="width:300px" id="mySidebar">
  <%= erb :sidebar, :locals => {:registered_entities => registered_entities } %>
</div>

<div class="w3-main" style="margin-left:300px">
  <div class="w3-container w3-bar w3-teal">
    <h1>My Page</h1>
  </div>
  <%= erb :toolbar %>
  <%= yield %>
</div>


</body>
</html>

