<div class="w3-container w3-teal">
  <h1>My Page</h1>
</div>
<a href="#" class="w3-button">&#9881;</a>
<button class="w3-button w3-right w3-hide-large" onclick="w3_close()">&times;</button>
<input class="w3-input w3-padding" type="text" placeholder="Suche nach..." id="myInput" onkeyup="myFunction()">
<table class="w3-table w3-hoverable" id="myTable">
<% registered_entities.each do |item| %>
<%= "<tr>" %>
<%= "<td><a class='w3-button' href='/#{item}'>#{item}</a></td>" %>
<%= "</tr>" %>
<% end %>
</table>
