<div class="w3-light-grey">
  <button class="w3-button w3-hide-large" onclick="w3_open()">&#9776;</button>
  <a href="#" class="w3-button">Create</a>
  <a href="#" class="w3-button">Show</a>
  <a href="#" class="w3-button">Edit</a>
  <a href="#" class="w3-button">Delete</a>
</div>
